block product-card
  .product-card.product-card--3&attributes(attributes)(class=size)
    a.product-card__img(href='product')
      if item.images[1]
        img.card-img-top(src=item.images[1], alt="#")
      else
        img.card-img-top(src="img/product1.jpg" alt="#")

      a.product-card__title(href='product')=item.title

      span.product-card__price=item.price
        span.product-card__price--old=item.price